:root {
    --amber                : #ff5919;
    --backgroundNav        : #eeeeee;
    --backgroundMain       : #ececec;
    --backgroundMainOpacity: rgba(236, 236, 236, 0.9);
    --font-color                : #131212;
  }