.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

.space-between {
  justify-content: space-between;
}
.justify-content {
  justify-content: center;
}

.hide {
  display: none !important;
}

.active > svg {
  transition: all 0.3s;
  fill: var(--amber);
}
